.reviewContainer {
  width: 430px;
}

.reviewItem {
  margin-bottom: 24px;
}

.reviewerRate {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.firstInitial {
  color: #e44848;
}
.firstInitialCover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
}

.reviewerNameAndStars {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.reviewComment {
  color: #475467;
}
