.home {
  background-image: url(../../img//Camper.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroImg img {
  max-width: 100%;
  height: auto;
}
.heroText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 30px;
  color: beige;
}
