@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: white;
  color: #101828;
  width: 1440px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  margin: 40px;
}

.btnFeatures.active::after {
  content: "";
  position: absolute;
  background: #e44848;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
}

.btnReviews.active::after {
  content: "";
  position: absolute;
  background: #e44848;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
}

button.btnFeatures {
  display: block;
  width: fit-content;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  border: none;
  background-color: transparent;
  position: relative;
}

button.btnReviews {
  display: block;
  width: fit-content;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  border: none;
  background-color: transparent;
  position: relative;
}

button.btnFeatures.active::after {
  content: "";
  position: absolute;
  background: #e44848;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
}

button.btnReviews.active::after {
  content: "";
  position: absolute;
  background: #e44848;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
}
